[mysqld]
sql-mode                        = NO_ENGINE_SUBSTITUTION
key_buffer_size                 = 128M
max_allowed_packet              = 32M
tmp_table_size                  = 64M
max_heap_table_size             = 64M
myisam_sort_buffer_size         = 256k

open-files-limit                = 8192
net_write_timeout               = 900
net_read_timeout                = 900
lock_wait_timeout               = 14400

sync_binlog                     = 0

# requires --log-bin
#log-slave-updates               = 1

binlog_cache_size               = 1M
slave_compressed_protocol       = 1
log-bin-trust-function-creators = 1

default-storage-engine          = innodb
character-set-server            = utf8
#innodb_file_format              = Barracuda

query_cache_size                = 0
query_cache_type                = 0

# eq_range_index_dive_limit       = 0

innodb_use_native_aio           = 1
innodb_stats_persistent         = 1
innodb_adaptive_flushing        = 1
innodb_checksum_algorithm       = crc32
innodb_log_buffer_size          = 16M
innodb_flush_log_at_trx_commit  = 0
innodb_stats_on_metadata        = 0
innodb_flush_method             = O_DIRECT
innodb_lock_wait_timeout        = 50
innodb_thread_concurrency       = 0
innodb_file_per_table
innodb_print_all_deadlocks      = on

performance_schema              = on

innodb_data_file_path           = ibdata1:10M:autoextend
bind-address                    = 0.0.0.0
long_query_time                 = 1
log_queries_not_using_indexes   = 1

core-file

[mysql]
no-auto-rehash

[mysqld_safe]
core-file-size			= unlimited
